unimart-sprint1/unimart-sprint1/unimart-sprint1/n8n/sprint1-workflows.json
{
  "meta": {
    "instanceId": "unimart-sprint1",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "cron-daily",
      "name": "Daily 9am Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Fires every day at 9am before stand-up. Triggers stale ticket detection and velocity report."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.ticket_id, t.title, t.status, t.updated_at, s.display_name as squad, s.lead_name FROM kanban_tickets t LEFT JOIN squads s ON t.squad_id = s.id WHERE t.sprint = '1' AND t.status NOT IN ('done') AND t.updated_at < NOW() - INTERVAL '2 days' ORDER BY t.updated_at ASC;",
        "options": {}
      },
      "id": "pg-stale-tickets",
      "name": "Query Stale Tickets",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [480, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "UniMart Supabase"
        }
      },
      "notes": "Finds Sprint 1 tickets with no update in 2+ days. Feeds Slack alert."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.display_name as squad, sv.planned_points, sv.completed_points, sv.tickets_planned, sv.tickets_completed, CASE WHEN sv.planned_points > 0 THEN ROUND((sv.completed_points::numeric / sv.planned_points) * 100, 1) ELSE 0 END as velocity_pct FROM sprint_velocity sv JOIN squads s ON sv.squad_id = s.id WHERE sv.sprint = '1' ORDER BY velocity_pct DESC;",
        "options": {}
      },
      "id": "pg-velocity",
      "name": "Query Sprint Velocity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [480, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "UniMart Supabase"
        }
      },
      "notes": "Pulls current sprint velocity per squad for daily report."
    },
    {
      "parameters": {
        "jsCode": "// Format stale ticket alert message\nconst staleTickets = $input.all();\n\nif (staleTickets.length === 0) {\n  return [{ json: { hasStale: false, message: '✅ No stale tickets in Sprint 1. All tickets updated within 48 hours.' } }];\n}\n\nconst rows = staleTickets.map(item => {\n  const t = item.json;\n  const lastUpdate = new Date(t.updated_at);\n  const daysSince = Math.floor((Date.now() - lastUpdate.getTime()) / (1000 * 60 * 60 * 24));\n  return `• *${t.ticket_id}* — ${t.title} (${t.squad || 'Unassigned'}) — last updated *${daysSince}d ago*`;\n}).join('\\n');\n\nreturn [{\n  json: {\n    hasStale: true,\n    count: staleTickets.length,\n    message: `🚨 *${staleTickets.length} Stale Ticket(s) in Sprint 1*\\n\\nTickets not updated in 2+ days:\\n${rows}\\n\\n_Action: Update ticket status before today's stand-up or flag as blocked._`\n  }\n}];"
      },
      "id": "format-stale",
      "name": "Format Stale Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 200],
      "notes": "Formats stale ticket list into a Slack message."
    },
    {
      "parameters": {
        "jsCode": "// Format velocity report\nconst velocityRows = $input.all();\n\nconst rows = velocityRows.map(item => {\n  const v = item.json;\n  const pct = v.velocity_pct || 0;\n  const bar = '▓'.repeat(Math.floor(pct / 10)) + '░'.repeat(10 - Math.floor(pct / 10));\n  return `*${v.squad}*: ${bar} ${pct}% (${v.completed_points}/${v.planned_points}pts)`;\n}).join('\\n');\n\nconst totalPlanned = velocityRows.reduce((acc, i) => acc + (i.json.planned_points || 0), 0);\nconst totalDone = velocityRows.reduce((acc, i) => acc + (i.json.completed_points || 0), 0);\nconst overallPct = totalPlanned > 0 ? Math.round((totalDone / totalPlanned) * 100) : 0;\n\nreturn [{\n  json: {\n    message: `📊 *Sprint 1 Velocity Report*\\n\\n${rows}\\n\\n*Overall: ${overallPct}% (${totalDone}/${totalPlanned} pts)*\\n\\n_Generated by n8n · ${new Date().toLocaleDateString('en-GB', { weekday: 'long', day: 'numeric', month: 'long' })}_`\n  }\n}];"
      },
      "id": "format-velocity",
      "name": "Format Velocity Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 400],
      "notes": "Formats velocity metrics into a readable Slack report."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "#unimart-sprint1",
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "id": "slack-stale",
      "name": "Post Stale Alert to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [960, 200],
      "credentials": {
        "slackOAuth2Api": {
          "id": "slack-unimart",
          "name": "UniMart Slack"
        }
      },
      "notes": "Posts stale ticket alerts to #unimart-sprint1 channel."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "#unimart-sprint1",
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "id": "slack-velocity",
      "name": "Post Velocity to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [960, 400],
      "credentials": {
        "slackOAuth2Api": {
          "id": "slack-unimart",
          "name": "UniMart Slack"
        }
      },
      "notes": "Posts daily velocity report to #unimart-sprint1."
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "sprint_velocity",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "pg-log-velocity",
      "name": "Log Velocity Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [960, 540],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "UniMart Supabase"
        }
      },
      "notes": "Saves velocity snapshot to Supabase for trend tracking."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workshop-findings",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-workshop",
      "name": "Webhook: Workshop Findings",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 700],
      "notes": "Receives workshop findings POSTed from Figma or manual form. Aggregates into project wiki."
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate incoming workshop findings\nconst body = $input.first().json.body || $input.first().json;\n\nconst required = ['user_group', 'pain_points', 'facilitator'];\nconst missing = required.filter(f => !body[f]);\n\nif (missing.length > 0) {\n  return [{ json: { error: true, message: `Missing required fields: ${missing.join(', ')}` } }];\n}\n\n// Validate minimum pain points\nconst painPoints = Array.isArray(body.pain_points) ? body.pain_points : [body.pain_points];\nif (painPoints.length < 3) {\n  return [{ json: { error: true, message: `Minimum 3 pain points required. Got ${painPoints.length}.` } }];\n}\n\nconst USER_GROUPS = ['customer','seller','delivery_driver','customer_support_agent','nutritionist','ui_ux_designer','software_engineer','legal_compliance','data_analyst','senior_partner','stakeholder'];\n\nif (!USER_GROUPS.includes(body.user_group)) {\n  return [{ json: { error: true, message: `Invalid user_group: ${body.user_group}` } }];\n}\n\nreturn [{ json: { error: false, validated: true, data: { ...body, pain_points: painPoints, received_at: new Date().toISOString() } } }];"
      },
      "id": "validate-findings",
      "name": "Validate Findings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 700],
      "notes": "Validates workshop findings. Checks for 3+ pain points per acceptance criteria."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE empathy_maps em SET pain_points = array_append(em.pain_points, $1), updated_at = NOW() FROM user_groups ug WHERE em.user_group_id = ug.id AND ug.name = $2 RETURNING em.id;",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "pg-upsert-findings",
      "name": "Save Findings to Wiki",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [720, 700],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "UniMart Supabase"
        }
      },
      "notes": "Aggregates validated workshop findings into the empathy_maps table (project wiki)."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "#unimart-hcd",
        "text": "={{ '📝 Workshop findings received for *' + $json.data.user_group.replace(/_/g, ' ') + '*\\n• Pain points added: ' + $json.data.pain_points.length + '\\n• Facilitator: ' + $json.data.facilitator + '\\n• Received: ' + new Date($json.data.received_at).toLocaleString('en-GB') }}",
        "otherOptions": {}
      },
      "id": "slack-findings",
      "name": "Notify HCD Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [960, 700],
      "credentials": {
        "slackOAuth2Api": {
          "id": "slack-unimart",
          "name": "UniMart Slack"
        }
      },
      "notes": "Posts workshop completion notification to #unimart-hcd."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "team-onboarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-onboarding",
      "name": "Webhook: Team Onboarding",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 940],
      "notes": "Called when a new team member completes onboarding. Updates DB and notifies squad lead."
    },
    {
      "parameters": {
        "operation": "update",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": { "__rl": true, "value": "team_members", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "onboarded_to_jira": "={{ $json.body.tool === 'jira' ? true : undefined }}",
            "onboarded_to_replit": "={{ $json.body.tool === 'replit' ? true : undefined }}",
            "onboarded_to_lovable": "={{ $json.body.tool === 'lovable' ? true : undefined }}",
            "onboarded_to_n8n": "={{ $json.body.tool === 'n8n' ? true : undefined }}",
            "working_agreements_signed": "={{ $json.body.tool === 'agreements' ? true : undefined }}"
          }
        },
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "equal",
              "keyValue": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "pg-update-onboarding",
      "name": "Update Onboarding Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [480, 940],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "UniMart Supabase"
        }
      },
      "notes": "Updates team member onboarding checklist in Supabase."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 2,
              "triggerAtDay": [5]
            }
          ]
        }
      },
      "id": "cron-retro",
      "name": "Sprint Retro Trigger (Every 2 Weeks)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 1140],
      "notes": "Fires on Friday of Sprint end week. Triggers retrospective prep and DoD audit."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ticket_id, title, status, acceptance_criteria, definition_of_done, pm_signed_off FROM kanban_tickets WHERE sprint = '1' ORDER BY ticket_id;",
        "options": {}
      },
      "id": "pg-dod-audit",
      "name": "Query DoD Audit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [480, 1140],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "UniMart Supabase"
        }
      },
      "notes": "Pulls all Sprint 1 tickets for DoD compliance audit before Sprint Review."
    },
    {
      "parameters": {
        "jsCode": "const tickets = $input.all().map(i => i.json);\n\nconst doneTickets = tickets.filter(t => t.status === 'done');\nconst notDone = tickets.filter(t => t.status !== 'done');\nconst unsignedOff = doneTickets.filter(t => !t.pm_signed_off);\n\nconst summary = [\n  `*Sprint 1 Pre-Review DoD Audit*`,\n  ``,\n  `📋 *Ticket Status*`,\n  `• Done: ${doneTickets.length}/${tickets.length}`,\n  `• Remaining: ${notDone.length}`,\n  `• Awaiting PM sign-off: ${unsignedOff.length}`,\n  ``,\n  notDone.length > 0 ? `⚠️ *Incomplete Tickets*\\n${notDone.map(t => `• ${t.ticket_id} — ${t.title} (${t.status})`).join('\\n')}` : '✅ All tickets complete',\n  ``,\n  unsignedOff.length > 0 ? `🔏 *Needs PM Sign-off*\\n${unsignedOff.map(t => `• ${t.ticket_id} — ${t.title}`).join('\\n')}` : '✅ All done tickets signed off',\n  ``,\n  `_Sprint 1 Review scheduled for Day 12 · Retro Day 13_`\n].join('\\n');\n\nreturn [{ json: { message: summary } }];"
      },
      "id": "format-dod",
      "name": "Format DoD Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 1140],
      "notes": "Formats the Sprint 1 DoD compliance audit for PM and stakeholders."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "#unimart-pm",
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "id": "slack-dod",
      "name": "Post DoD Report to PM",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [960, 1140],
      "credentials": {
        "slackOAuth2Api": {
          "id": "slack-unimart",
          "name": "UniMart Slack"
        }
      },
      "notes": "Posts DoD audit to #unimart-pm channel for Project Manager review."
    }
  ],
  "connections": {
    "Daily 9am Trigger": {
      "main": [
        [
          { "node": "Query Stale Tickets", "type": "main", "index": 0 },
          { "node": "Query Sprint Velocity", "type": "main", "index": 0 }
        ]
      ]
    },
    "Query Stale Tickets": {
      "main": [[{ "node": "Format Stale Alert", "type": "main", "index": 0 }]]
    },
    "Query Sprint Velocity": {
      "main": [[{ "node": "Format Velocity Report", "type": "main", "index": 0 }]]
    },
    "Format Stale Alert": {
      "main": [[{ "node": "Post Stale Alert to Slack", "type": "main", "index": 0 }]]
    },
    "Format Velocity Report": {
      "main": [
        [
          { "node": "Post Velocity to Slack", "type": "main", "index": 0 },
          { "node": "Log Velocity Snapshot", "type": "main", "index": 0 }
        ]
      ]
    },
    "Webhook: Workshop Findings": {
      "main": [[{ "node": "Validate Findings", "type": "main", "index": 0 }]]
    },
    "Validate Findings": {
      "main": [[{ "node": "Save Findings to Wiki", "type": "main", "index": 0 }]]
    },
    "Save Findings to Wiki": {
      "main": [[{ "node": "Notify HCD Channel", "type": "main", "index": 0 }]]
    },
    "Webhook: Team Onboarding": {
      "main": [[{ "node": "Update Onboarding Status", "type": "main", "index": 0 }]]
    },
    "Sprint Retro Trigger (Every 2 Weeks)": {
      "main": [[{ "node": "Query DoD Audit", "type": "main", "index": 0 }]]
    },
    "Query DoD Audit": {
      "main": [[{ "node": "Format DoD Report", "type": "main", "index": 0 }]]
    },
    "Format DoD Report": {
      "main": [[{ "node": "Post DoD Report to PM", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    { "id": "sprint1", "name": "Sprint 1" },
    { "id": "unimart", "name": "UniMart" },
    { "id": "ep01", "name": "EP-01" }
  ],
  "_readme": {
    "title": "UniMart Sprint 1 — n8n Automations",
    "description": "Three automation flows for Sprint 1 EP-01 Discovery & Foundation:",
    "flows": [
      {
        "name": "Daily Velocity & Stale Ticket Report",
        "trigger": "Cron: daily 9am",
        "purpose": "Queries Supabase for stale tickets (no update 2+ days) and sprint velocity per squad. Posts to #unimart-sprint1 Slack before stand-up.",
        "acceptance_criteria": "Fulfils US-02 DoD: n8n automated sprint velocity reporting setup"
      },
      {
        "name": "Workshop Findings Aggregation",
        "trigger": "Webhook POST /workshop-findings",
        "purpose": "Receives HCD workshop findings (empathy map entries) from Figma or manual form. Validates 3+ pain points per AC. Saves to Supabase empathy_maps. Notifies #unimart-hcd.",
        "acceptance_criteria": "Fulfils US-01: n8n automated aggregation of workshop findings into project wiki",
        "payload_example": {
          "user_group": "customer",
          "pain_points": ["Hard to find items across three apps", "Inconsistent checkout UX", "No single loyalty programme"],
          "facilitator": "UX Research Lead",
          "session_date": "2026-03-20"
        }
      },
      {
        "name": "Team Onboarding Tracker",
        "trigger": "Webhook POST /team-onboarding",
        "purpose": "Called when a team member completes onboarding to a tool. Updates Supabase team_members onboarding flags.",
        "acceptance_criteria": "Fulfils US-02: All engineers onboarded to shared Replit workspace (tracked)",
        "payload_example": {
          "email": "engineer@unimart.io",
          "tool": "replit"
        }
      },
      {
        "name": "Sprint Retro DoD Audit",
        "trigger": "Cron: bi-weekly Friday",
        "purpose": "Pulls all Sprint 1 tickets and checks DoD compliance. Reports incomplete tickets and unsigned-off tickets to PM via Slack.",
        "acceptance_criteria": "Fulfils US-02 DoD: Sprint 1 Retrospective completed; action items logged"
      }
    ],
    "credentials_required": [
      "Supabase Postgres connection (host, port, database, user, password)",
      "Slack OAuth2 (Bot Token with chat:write scope)",
      "Channels required: #unimart-sprint1, #unimart-hcd, #unimart-pm"
    ],
    "setup_steps": [
      "1. Import this JSON into n8n via Settings > Import Workflow",
      "2. Set up Supabase Postgres credentials using your project's connection string",
      "3. Connect Slack OAuth2 credentials",
      "4. Activate all workflows",
      "5. Test webhook by POSTing to /workshop-findings with the example payload above",
      "6. Verify Slack messages appear in the correct channels"
    ]
  }
}
